body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image:url("../images/white-wood.jpg");
  background-repeat: no-repeat;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
  background-image: linear-gradient(to bottom, aqua, blue);

}

.indifferent {
  background-color: #dddd22;
  box-shadow: -1px 1px #c6bc2b, -2px 2px #c6bc2b, -3px 3px #c6bc2b, -4px 4px #c6bc2b, -5px 5px #c6bc2b;
}

.dubious {
  background-color: #dd4444;
  box-shadow: -1px 1px #8c1f0c, -2px 2px #8c1f0c, -3px 3px #8c1f0c, -4px 4px #8c1f0c, -5px 5px #8c1f0c;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.med {
  width: 203.5%;
  border: 1px solid gray;
}

.large {
  width: 303%;
  border: 1px solid gray;
}
